* {
  margin: 0px;
  padding: 0px;
}

.chatOuterContainer {
  min-height: 100vh;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatInnerContainer {
  width: 100%;
  height: 100%;
}

.chatbox {
  height: 450px;
}

.card-body {
  overflow: auto;
  scroll-behavior: smooth;
}